*{
  box-sizing: border-box;
}

h1, h2{
  font-family: 'Nova Mono', monospace;
  font-size: 40px;
}

.header{
  position: relative;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}

.navigation{
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
  padding: 30px solid saddlebrown;
  background-color: darkgoldenrod;
  position: relative;
  left: 180px;
}

table, th {
  border: 3px solid saddlebrown;
  border-collapse: collapse;
}

th {
  padding: 15px;
}

.Mainbody{
  font-size: 25px;
  position: relative;
  padding-left: 190px;
  padding-right: 190px;
  font-family: 'Philosopher', sans-serif;

}

.center{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Nova Mono', monospace;
  font-size: 120px;
}



.leftborder{
  position: fixed;
  top: 0px;

}

.rightborder{
  position: fixed;
  transform: translate(-80%, -0%);
}
