h1{
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: 40px;
}

h2{
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: 40px;
}

.header{
  position: relative;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}

.navigation.p{
  font-family: 'Nova Mono', monospace;
  font-size: 30px;
}

.Mainbody.p{
  font-size: 20px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Nova Mono', monospace;
  font-size: 120px;
}

.Mainbody{

}

.leftborder{
  position: fixed;
  top: 0px;

}

.rightborder{
  position: relative;
  width: 170px;
  height: 650px;
  right: 170px;
}
